## MongoDb with python Aggregate functions

In [2]:
# import library
from pymongo import MongoClient

In [3]:
# creation of object MongoClient  
client=MongoClient()

In [4]:
# Connect with the portnumber and host  
client = MongoClient("mongodb://localhost:27017/")

In [5]:
# Create database  
mydatabase = client['Students']

In [6]:
# create collection of the database  
collection=mydatabase['studentscores']

In [15]:
# Create records
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}]

In [16]:
# insert documents
collection.insert_many(data)

In [17]:
# find total subjects by each user
agg_result=collection.aggregate(
[{'$group':
  {'_id':'$user',
   'total subjects':{'$sum':1}
  }
}]
)

for i in agg_result:
    print(i)

{'_id': 'Amit', 'total subjects': 6}
{'_id': 'Krish', 'total subjects': 6}

In [18]:
# calculate total score per user
agg_result=collection.aggregate(
[{
   '$group':
    {'_id':'$user',
    'total score':{'$sum':'$score'}
    }
}])

for i in agg_result:
    print(i)

{'_id': 'Amit', 'total score': 470}
{'_id': 'Krish', 'total score': 500}

In [19]:
# calculate Average score per user
agg_result = collection.aggregate(
[{
    '$group':
    {'_id':'$user',
    'AverageScore':{'$avg':'$score'}}
}])

for i in agg_result:
    print(i)

{'_id': 'Amit', 'AverageScore': 78.33333333333333}
{'_id': 'Krish', 'AverageScore': 83.33333333333333}

In [20]:
data

[{'user': 'Krish',
  'subject': 'Database',
  'score': 80,
  '_id': ObjectId('601c0de45672579110950323')},
 {'user': 'Amit',
  'subject': 'JavaScript',
  'score': 90,
  '_id': ObjectId('601c0de45672579110950324')},
 {'user': 'Amit',
  'title': 'Database',
  'score': 85,
  '_id': ObjectId('601c0de45672579110950325')},
 {'user': 'Krish',
  'title': 'JavaScript',
  'score': 75,
  '_id': ObjectId('601c0de45672579110950326')},
 {'user': 'Amit',
  'title': 'Data Science',
  'score': 60,
  '_id': ObjectId('601c0de45672579110950327')},
 {'user': 'Krish',
  'title': 'Data Science',
  'score': 95,
  '_id': ObjectId('601c0de45672579110950328')}]

In [21]:
import datetime as datetime

In [22]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [23]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2021, 2, 4, 15, 9, 37, 374954)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2021, 2, 4, 15, 9, 37, 374954)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2021, 2, 4, 15, 9, 37, 374954)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2021, 2, 4, 15, 9, 37, 374954)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2021, 2, 4, 15, 9, 37, 374954)}]

In [24]:
# create collection
mycollection=mydatabase['stores']  

# insert multiple records
mycollection.insert_many(data)

In [27]:
# Calculate the Average prize and Average quantity.
# Using $multiply operator.

result = mycollection.aggregate(
[{
    '$group':
    {"_id":'$item',
    'Average Prize':{'$avg':{'$multiply':['$price','$quantity']}},
    'Average Quantity':{'$avg':'$quantity'}
    }
}])

for i in result:
    print(i)

{'_id': 'xyz', 'Average Prize': 37.5, 'Average Quantity': 7.5}
{'_id': 'jkl', 'Average Prize': 20.0, 'Average Quantity': 1.0}
{'_id': 'abc', 'Average Prize': 60.0, 'Average Quantity': 6.0}

In [28]:

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [29]:
# create new collection
collection=mydatabase['Books']

In [30]:
# insert multiple documents
collection.insert_many(data)

In [31]:
# $project is used to selct perticular fields
for row in collection.aggregate([{'$project':{'title':1,'copies':1}}]):
    print(row)

{'_id': 1, 'title': 'abc123', 'copies': 5}
{'_id': 2, 'title': 'Baked Goods', 'copies': 2}