# MongoDB : Querying JSON documents

### import library pymongo which supports driver.

In [1]:
from pymongo import MongoClient

In [10]:
# Creating instance of Mongo Client

client=MongoClient('mongodb://127.0.0.1:27017/')

# In "mongodb://127.0.0.1:27017/" , "mongodb" is the protocol, "127.0.0.1" is the host address and "27017" is the port number.

In [11]:
# Create database
mydb = client["Employee"]

In [12]:
# create collection

empinfo=mydb.employeinformation

In [13]:
#Create document should be in JSON format
record={
        'firstname':'Krish',
        'lastname':'Naik',
        'department':'Analytics',
        'qualification':'BE',
        'age':29
        }

#JSON format means data should be in the form of key value pairs.

In [14]:
# Insert a record

empinfo.insert_one(record)

In [15]:
# Create multiple documents

records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [16]:
# insert multiuple records

empinfo.insert_many(records)

In [21]:
# Simple way of querying

empinfo.find_one()

# This is to find one document from the collection.

{'_id': ObjectId('601a6df8e943689579350b2b'),
 'firstname': 'Krish',
 'lastname': 'Naik',
 'department': 'Analytics',
 'qualification': 'BE',
 'age': 29}

In [23]:
# select all from employeinformation

for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('601a6df8e943689579350b2b'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('601a6e3ee943689579350b2c'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('601a6e3ee943689579350b2d'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('601a6e3ee943689579350b2e'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('601a6e3ee943689579350b2f'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [24]:
## Query the json documents based on equality conditions

# Select * from employeeinformation where firstname=Ram

for record in empinfo.find({'firstname':'Ram'}):
    print(record)

{'_id': ObjectId('601a6e3ee943689579350b2f'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

### Query documents using query operators (in, lt, gt)

In [26]:
# find the record where qualification equals phd or master

for record in empinfo.find({'qualification':{'$in':['phd','master']}}):
    print(record)

{'_id': ObjectId('601a6e3ee943689579350b2e'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('601a6e3ee943689579350b2f'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [28]:
# Using 'And' and query operators

# find the records where qualification equals to master and age less than 35

for record in empinfo.find({'qualification':'master','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('601a6e3ee943689579350b2f'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [30]:
# Using $or operator

# select records where firstname equals to Krish and qualification equals to phd

for record in empinfo.find({'$or':[{'firstname':'Krish'},{'qualification':'phd'}]}):
                            print(record)

{'_id': ObjectId('601a6df8e943689579350b2b'), 'firstname': 'Krish', 'lastname': 'Naik', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('601a6e3ee943689579350b2e'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}

In [31]:
# Creating new Collection

inventory=mydb.inventory

In [32]:
# insert multiple records

inventory.insert_many([
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
])

In [33]:
# match an embedded / nested document

for record in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(record)

{'_id': ObjectId('601a7469e943689579350b30'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}